<div class="dynamodb">
    <div class="text-right" style="margin-bottom: 10px">
        <Button @click="addDatabase">Add new queue</Button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Resource</th>
                <th>Queue</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr :key="i" v-for="(q, i) in queues">
                <td>{{q.name}}</td>
                <td>{{q.queueName}}</td>
                <td>
                    <router-link :to="{name: 'EditSQS', params: {id: i}}" class="text-info"><i class="fa fa-edit"></i></router-link>
                    <a href="javascript:void(0)"  @click="removeQueue(i)" style="margin-left: 10px" class="text-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>