<div class="lambda">
    <div class="text-right" style="margin-bottom: 10px">
        <Button @click="addLambda">Add new lambda</Button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Function</th>
                <th>Handler</th>
                <th>Event</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr :key="i" v-for="(fn, i) in functions">
                <td>{{fn.name}}</td>
                <td>{{fn.handler}}</td>
                <td v-html="getEvent(fn)"></td>
                <td>
                    <router-link :to="{name: 'EditLambda', params: {id: i}}" class="text-info"><i class="fa fa-edit"></i></router-link>
                    <a href="javascript:void(0)"  @click="removeLambda(i)" style="margin-left: 10px" class="text-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>