<form @submit="saveProvider">
    <h3>Provider</h3>
    <div class="field">
        <label>Name:</label>
        <sui-input required placeholder="Service name" v-model="form.name" />
    </div>
    <div class="field">
        <label>Runtime:</label>
        <sui-dropdown :options="runtimes" placeholder="Select runtime" v-model="form.runtime" search selection />
    </div>
    <div class="field">
        <label>Region:</label>
        <sui-dropdown :options="regions" placeholder="Select region" v-model="form.region" search selection />
    </div>
    <div class="field">
        <label>Memory Size:</label>
        <sui-input placeholder="Memory Size" v-model="form.memorySize" />
    </div>
    <div class="field">
        <label>Timeout:</label>
        <sui-input type="number" min="10" placeholder="Timeout" v-model="form.timeout" />
    </div>
</form>