<sui-form @submit="addQueue">
    <div class="row">
        <div class="col-md-6">
            <sui-form-field>
                <label>Resource name:</label>
                <input placeholder="Name" required v-model="form.name" />
            </sui-form-field>
            <sui-form-field>
                <label>Queue Name:</label>
                <input placeholder="Queue name" required v-model="form.queueName" />
            </sui-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Save</button> 
        </div>
    </div>
</sui-form>