<div class="sidebar">
    <div class="sidebar-inner">
        <!-- ### $Sidebar Header ### -->
        <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
                <div class="peer peer-greed">
                    <a class="sidebar-link td-n" href="index.html">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer">
                                <div class="logo">
                                </div>
                            </div>
                            <div class="peer peer-greed">
                                <h5 class="lh-1 mB-0 logo-text">SLS UI</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="peer">
                    <div class="mobile-toggle sidebar-toggle">
                        <a href="" class="td-n">
                            <i class="ti-arrow-circle-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ### $Sidebar Menu ### -->
        <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30">
                <router-link to="/" class="sidebar-link">
                    <span class="icon-holder">
                        <i class="c-blue-500 ti-package"></i>
                    </span>
                    <span class="title">Provider</span>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/lambda" class="sidebar-link">
                    <span class="icon-holder">
                        <i class="c-orange-500 ti-server"></i>
                    </span>
                    <span class="title">Lambda</span>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/dynamodb" class="sidebar-link">
                    <span class="icon-holder">
                        <i class="c-indigo-500 ti-harddrives"></i>
                    </span>
                    <span class="title">DynamoDB</span>
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/sqs" class="sidebar-link">
                    <span class="icon-holder">
                        <i class="c-pink-500 ti-truck"></i>
                    </span>
                    <span class="title">SQS</span>
                </router-link>
            </li>
        </ul>
    </div>
</div>